@import "tailwindcss";

@layer components {
  .containers {
    @apply max-w-350 mx-auto;
  }
  body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(218, 218, 218, 1) 0%,
      rgba(238, 238, 238, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
